@mixin glowEffect($spread) {
  box-shadow: 0 0 2px white, 0 0 3px white,
  0 0 4px lightblue, 0 0 5px $spread lightblue,
  0 0 5px $spread blue, 0 0 8px $spread blue,
  0 0 12px $spread blue, 0 0 20px $spread blue,
  0 0 30px $spread lightblue, 0 0 40px $spread lightblue,
  0 0 50px $spread white, 0 0 60px $spread white,
  0 0 80px white, 0 0 100px white;
}

@keyframes glow {
  from {
    @include glowEffect(5px);
  }
  to {
    @include glowEffect(7px);
  }
}

.glowingStar {
  position: absolute;
  z-index: 999;
  top: 14px;
  right: 14px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 100%;
  animation-name: glow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}