.controls {
    margin: 8px;
    position: fixed;
    width: calc(100 / 24 * 18 / 24 * 4vw);
}

.controlItem {
    //margin: 8px;
    //float: left;
}

.controlItem > * {
    display: block;
    margin-left: 8px;
    margin-top: 4px;
}