.collection {
    padding-left: 14px;
    padding-top: 10px;
}

.swapButton {
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 2px)) translateY(-70%);
}

.cardBox {
    padding: 4px;
}

.edit {
    /*border: crimson solid 2px;*/
    transform: scale(0.9);
}