.editor {
    margin: 16px;
}

.label {
    margin-top: 16px;
    margin-bottom: 2px;
}

.tiny {
    .label {
        margin-top: 4px;
        margin-bottom: 1px;
    }
}

.button {
    margin-top: 16px;
    width: 100%;
}

.tiny {
    .button {
        margin-top: 4px;
    }
}