.noCard {
    padding-left: 32px;
    margin-top: 50vh;
    text-align: center;
}

.editor {
    margin: 16px 8px 8px;

    .canvas {
        display: none;
    }
}

.splitInput {
    display: inline-block;
    width: 50%;
}

.partialField {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
}

.fullField {
    padding-right: 8px;
    padding-left: 8px;
}

.listItem {
    padding: 0 !important;
}

.listItem > ul {
    margin-left: 8px;
}

.centerParent {
    text-align: center;
}

.label {
    margin-top: 16px;
    margin-bottom: 2px;
}

.tiny {
    .label {
        margin-top: 4px;
        margin-bottom: 1px;
    }

    .button {
        margin-top: 4px;
    }
}

.buttonGroup {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.smallButtonGroup {
    width: 100%;
    text-align: center;
    margin-bottom: -8px;
}

.tooltip {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 999;
}

.uploadWrapper {
    display: flex;
    width: 100%;
}


