.noCard {
    margin-top: 50vh;
    text-align: center;
}

.editor {
    margin: 16px;
}

.label {
    margin-top: 16px;
    margin-bottom: 2px;
}

.tiny {
    .label {
        margin-top: 4px;
        margin-bottom: 1px;
    }
}

.buttonGroup {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.tiny {
    .button {
        margin-top: 4px;
    }
}