.cardComment {
  margin-bottom: 4px;
  background: rgba(0,0,0,0.8);
  color: white
}

.stateButton {
  margin-left: 8px;
}

.view {
  display: flex;
  transform: translateX(-50%);
}

.annotationView {
  background: rgba(0,0,0,0.2);
}

.modalCardViewWrapper {
  width: 0px !important;
  height: 0px !important;
}

.modalCardGroupWrapper {
  display: flex;
  flex-direction: row;
}

.modalCardGroupWrapperSingle {
  .modalCardWrapper {
    width: 100%;
  }
}
.modalCardGroupWrapperDouble {
  .modalCardWrapper {
    width: 50%;
  }
}