.view {
  display: flex;
  transform: translateX(-50%);
}

.annotationView {
  //float: right;
  background: rgba(0,0,0,0.2);
  //overflow: auto;
  //border-radius: 20px;
}

.modalCardViewWrapper {
  width: 0px !important;
  height: 0px !important;
}

.modalCardGroupWrapper {
  display: flex;
  flex-direction: row;
  //transform: translateX(-50%);
}

.modalCardGroupWrapperSingle {
  .modalCardWrapper {
    width: 100%;
  }
}
.modalCardGroupWrapperDouble {
  .modalCardWrapper {
    width: 50%;
  }
}