.entry {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-right: 36px;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    flex-direction: column;
    padding-top: 8px !important;
    margin-left: -16px;
    padding-bottom: 6px !important;
  }

  .item > * {
    width: 100%;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .featureName {
    margin-left: 4px;
  }

  .description {
    margin-left: 4px;
    margin-top: 4px;
  }

  .delete {
    code {
      background: #f5222d;
      color: whitesmoke;
    }
  }

  .new {
    code {
      background: #389e0d;
      color: whitesmoke;
    }
  }

  .change {
    code {
      background: #fa8c16;
      color: whitesmoke;
    }
  }
}

.modal {
  height: 80vh;
  overflow: auto;
  width: 80vw !important;
}
