.card-background-green {
    background-image: url(../images/green-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-green,
.frame-header-green,
.frame-type-line-green {
    background: linear-gradient(0deg, rgba(100, 200, 205, .3), rgba(50, 200, 205, .3)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-green,
.frame-text-box-green {
    background: linear-gradient(0deg, rgba(100, 200, 255, .2), rgba(100, 200, 205, .2)), url(../images/tile_bg_2.jpg);
}

.card-background-black {
    background-image: url(../images/black-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-black,
.frame-header-black,
.frame-type-line-black {
    background: linear-gradient(0deg, rgba(20, 20, 25, .2), rgba(40, 40, 40, .2)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-black,
.frame-text-box-black {
    background: linear-gradient(0deg, rgba(230, 230, 230, .4), rgba(255, 255, 255, .4)), url(../images/tile_bg_2.jpg);
}

.card-background-blue {
    background-image: url(../images/blue-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-blue,
.frame-header-blue,
.frame-type-line-blue {
    background: linear-gradient(0deg, rgba(100, 180, 255, .5), rgba(150, 180, 255, .5)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-blue,
.frame-text-box-blue {
    background: linear-gradient(0deg, rgba(140, 210, 255, .5), rgba(180, 210, 255, .5)), url(../images/tile_bg_2.jpg);
}

.card-background-white {
    background-image: url(../images/white-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-white,
.frame-header-white,
.frame-type-line-white {
    background: linear-gradient(0deg, rgba(230, 230, 170, .4), rgba(255, 255, 205, .4)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-white,
.frame-text-box-white {
    background: linear-gradient(0deg, rgba(240, 240, 210, .6), rgba(255, 255, 235, .6)), url(../images/tile_bg_2.jpg);
}

.card-background-red {
    background-image: url(../images/red-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-red,
.frame-header-red,
.frame-type-line-red {
    background: linear-gradient(0deg, rgba(255, 0, 0, .2), rgba(255, 100, 0, .2)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-red,
.frame-text-box-red {
    background: linear-gradient(0deg, rgba(255, 0, 0, .05), rgba(255, 100, 0, .05)), url(../images/tile_bg_2.jpg);
}

.card-background-gold {
    background-image: url(../images/gold-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-gold,
.frame-header-gold,
.frame-type-line-gold {
    background: linear-gradient(0deg, rgba(215, 190, 100, .4), rgba(195, 170, 100, .4)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-gold,
.frame-text-box-gold {
    background: linear-gradient(0deg, rgba(240, 240, 210, .5), rgba(255, 255, 235, .5)), url(../images/tile_bg_2.jpg);
}

.card-background-colorless {
    background-image: url(../images/artifact.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-colorless,
.frame-header-colorless,
.frame-type-line-colorless {
    background: linear-gradient(0deg, rgba(215, 225, 255, .5), rgba(190, 200, 255, .5)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-colorless,
.frame-text-box-colorless {
    background: linear-gradient(0deg, rgba(215, 225, 255, .4), rgba(190, 210, 255, .4)), url(../images/tile_bg_2.jpg);
}

.card-background-land {
    background-image: url(../images/land-background.png);
    background-repeat: repeat;
    /*background-size: cover;*/
}

.frame-inner-stats-land,
.frame-header-land,
.frame-type-line-land {
    background: linear-gradient(0deg, rgba(215, 190, 100, .4), rgba(195, 170, 100, .4)),
    url(../images/tile_bg_1.jpg);
}

.frame-stats-land,
.frame-text-box-land {
    background: linear-gradient(0deg, rgba(240, 240, 210, .5), rgba(255, 255, 235, .5)), url(../images/tile_bg_2.jpg);
}