/*
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
 BORDERS
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
*/


.frame-header,
.frame-type-line {
    border-bottom: 3px solid rgb(95, 110, 107);
    border-left: 2px solid rgb(95, 110, 107);
    border-top: 2px solid #fff;
    border-right: 1px solid #fff;
}

.frame-text-box {
    border-top: 2px solid rgba(95, 110, 107, 0.7);
    border-right: 2px solid rgba(95, 110, 107, 0.7);
}

.frame-stats{
    box-shadow: -1px 2px 2px 1px #171314;
}

.frame-inner-stats {
    border-top: 3px solid rgb(57, 72, 69);
    border-right: 2px solid rgb(57, 72, 69);
    border-bottom: 2px solid #fff;
    border-left: 1px solid #fff;
}

$colors: (
    white: #e0e4e3,
    blue:  #0456a8,
    black: #464e39,
    red: #df3619,
    green: #26714A,
    colorless: #d9d7da,
    gold: #eed66b,
    land: #eed66b,
);

@mixin autoIncludeAll() {
    @each $name, $color in $colors {
        .frame-header-#{$name},
        .frame-type-line-#{$name} {
            position: absolute;
            box-shadow: 0 0 0 1px #171314,
            0 0 0 4px $color,
            -3px 2px 2px 4px #171314;
        }

        .frame-header-planeswalker-#{$name},
        .frame-type-line-planeswalker-#{$name} {
            position: absolute;
        }

        .frame-art-#{$name} {
            box-shadow: 0 0 1px 2px #171314,
            0 0 0 5px $color,
            -3px 2px 2px 5px #171314;
        }

        .frame-text-box-#{$name} {
            box-shadow: 0 0 0 3px $color,
            -3px 2px 2px 3px #171314;
        }

        @each $name2, $color2 in $colors {
            .frame-header-planeswalker-#{$name}-#{$name2},
            .frame-type-line-planeswalker-#{$name}-#{$name2} {
                box-shadow: none !important;
            }

            .frame-header-planeswalker-#{$name}-#{$name2}{
                top: 32px;
            }
            .frame-type-line-planeswalker-#{$name}-#{$name2} {
                top: calc(24 * 16px - 2px);
            }

            .frame-header-special-border.frame-header-planeswalker-#{$name}-#{$name2},
            .frame-header-special-border.frame-type-line-planeswalker-#{$name}-#{$name2} {
                position: absolute;
                left: 28px;
                height: 35px;
                width: calc(488px - 28px - 34px);

                overflow: visible !important;
                //z-index: 999 !important;
            }

            .frame-header-special-border.frame-header-planeswalker-#{$name}-#{$name2}::before,
            .frame-header-special-border.frame-type-line-planeswalker-#{$name}-#{$name2}::before {
                border-radius: 18px/40px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                content: '';
                margin-left: 50%;
                width: calc(50%);
                height: calc(100%);
                position: absolute;
                border-right: 0;
                box-shadow: 0 0 0 1px #171314,
                0 0 0 4px $color,
                -3px 2px 2px 4px #171314 !important;
            }

            .frame-header-special-border.frame-header-planeswalker-#{$name}-#{$name2}::after,
            .frame-header-special-border.frame-type-line-planeswalker-#{$name}-#{$name2}::after {
                border-radius: 18px/40px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                content: '';
                width: calc(50% - 1px);
                height: calc(100%);
                position: absolute;
                box-shadow: 0 0 0 1px #171314,
                0 0 0 4px $color2,
                -3px 2px 2px 4px #171314 !important;
            }

            .frame-art-planeswalker-#{$name}-#{$name2} {
                box-shadow: 0 0 1px 2px #171314,
                -102px -102px 0 -97px $color,
                -102px 0 0 -97px $color,
                -102px 102px 0 -97px $color,
                0 0 0 5px $color2,
                -3px 2px 2px 5px #171314;
            }
        }
    }
}

@include autoIncludeAll;
