.cost,
.name {
    z-index: 1;
}

.card-background {
    position: absolute;
    height: 600px;
    width: 450px;
    margin: 18px 18px 0 18px;
    border-radius: 10px 10px 42px 8%;
    background-color: #bbb;
    z-index: 0;
}

.card-container {
    border: 1px solid black;
    width: 488px;
    height: 680px;
    /*margin: 56px auto 0;*/
    border-radius: 25px;
    box-sizing: border-box;
    /*box-shadow: -8px 9px 16px -3px gray;*/
    background: #171314;
}

.card-frame {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.frame-art {
    position: absolute;
    left: 36px;
    top: 78px;
    height: 298px;
    /*width - left - right;*/
    width: calc(488px - 36px - 39px);
}

.frame-text-box {
    position: absolute;
    left: 34px;
    top: 426px;
    height: 203px;
    width: calc(488px - 35px - 38px + 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 6px;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1.1em;
}

.frame-text-small {
    font-size: 1.15em;
    line-height: 1em;
}

.new-instruction {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.frame-loyalty,
.frame-stats,
.frame-inner-stats,
.frame-header,
.frame-type-line {
    height: 35px;
    line-height: 35px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    border-radius: 18px/40px;
}

.frame-header,
.frame-type-line {
    position: absolute;
    left: 28px;
    width: calc(488px - 28px - 34px);
}

.frame-header {
    top: 32px;
}

.frame-type-line {
    top: calc(24 * 16px - 2px);
}

.stats,
.name,
.type {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 10px;
}

.stats {
    margin-right: 10px;
}

.cost {
    margin-right: 8px;
}

.frame-bottom-info {
    position: absolute;
    top: calc(680px - 48px);
    left: 32px;
    width: calc(488px - 32px - 30px);
    /*margin: 5px 15px 0 15px;*/
    color: white;
    display: flex;
    justify-content: space-between;
}

.loyalty-outline-start {
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -1em;
    color: white;
    font-size: 2.6em;
    float: left;
}

.frame-stats, .frame-loyalty {
    position: absolute;
    top: 610px;
    left: 380px;
    width: 78px;
    z-index: 9;
}

.frame-inner-stats {
    width: 70px;
    height: 24px;
    margin-left: 2px;
    z-index: 10;
    justify-content: space-around;
}

.fbi-left {
    flex: 1;
}
.fbi-left p:first-of-type {
    margin-bottom: 1px;
}
.fbi-right {
    flex: 1;
    text-align: right;
}
.fbi-left,
.fbi-right {
    font-size: 10px;
    position: relative;
    top: 6px;
}

.fbi-center {
    border-radius: 60%;
    flex-basis: 41px;
    height: 21px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    background: lightgray url(../images/holofoil-texture-2.jpg);
    box-shadow: 0 0 0 4px #171314;
}

.flavour-text {
    border-radius:10px;
    box-shadow: 0 -10px 5px -11px #171314;
    font-style: italic;
    padding: 5px 0;
}

.trigger {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}
