.ms-loyalty-start {
    font-size: 2.4em;
}

.frame-text-box .ms {
    font-size: 0.7em;
    margin-right: 2px;
    margin-bottom: 2px;
}

.frame-text-box .ms-loyalty-up {
    font-size: 1.2em;
}

.frame-text-box .ms-loyalty-down {
    font-size: 1.2em;
}

.frame-header .ms {
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 1.1em;
    /*font-size: 1.2em;*/
    /*border-radius: 50%;*/
    /*box-sizing: border-box;*/
    /*box-shadow: -0.04em 0.12em 0px 0 black;*/
}

#set-icon {
    height: 32px;
    /*width: 6%;*/
    overflow: hidden;
    margin-right: 2px;
    align-self: center;
}

.paintbrush {
    height: 0.6%;
    width: 6%;
    overflow: hidden;
    align-self: center;
    margin-left: 4px;
}