@font-face {
  font-family: "MPlantin";
  src: url("./font/MPlantin.ttf");
}

@font-face {
  font-family: "Beleren Bold";
  src: url("./font/BelerenB.ttf");
}

@font-face {
  font-family: "Beleren Bold Small Caps";
  src: url("./font/BelerenBoldSmallCaps.ttf");
}

.cardRender {
  font-size: 16px;
  color: black;

  .mainframe {
    border-radius: 25px;
    z-index: -1;
    background-size: cover;
  }

  .innerBorderFrame {
    position: absolute;
    top: 0;
    left: 0;
  }

  .title {
    font-family: "Beleren Bold", sans-serif;
    position: absolute;
    font-size: 2.45em;
    top: 44px;
    left: 51px;
  }

  .type {
    font-family: "Beleren Bold", sans-serif;
    position: absolute;
    font-size: 2em;
    top: 581px;
    left: 51px;
  }

  .cost {
    position: absolute;
    font-size: 1.8em;
    top: 46px;
    width: 677px;
    text-align: right;
  }

  .cost > * {
    margin-left: 6px;
  }

  .rarity {
    position: absolute;
    left: 675px - 36px;
    top: 604px - 21px;
    height: 42px;
  }

  .cover {
    position: absolute;
    z-index: -2;
    top: 107px;
    left: 43px;
    width: 631px;
    height: 462px;
  }

  .basicLandCover {
    border-radius: 25px;
    position: absolute;
    background-size: cover;
    z-index: -2;
    top: 0;
    left: 0;
    width: 745px;
    height: 1040px;
  }

  .basicLandTitle {
    color: white;
    font-family: "Beleren Bold", sans-serif;
    position: absolute;
    font-size: 2.5em;
    top: 4px;
    left: 0;
    text-align: center;
    width: 745px;
  }

  .textWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .text {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;

    font-family: "MPlantin", sans-serif;
    position: absolute;
    font-size: 1.625em;
    //line-height: 1.2em;
    top: 647px;
    height: 930px - 647px;
    left: 52px;
    width: 662px - 52px;

    p {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    i {
      margin-top: -6px;
      font-size: 0.8em;
    }
  }

  .flavourSeparator {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: lighten(#171314, 50);
    box-shadow: 0 0 3px 0px #171314;
    margin-bottom: 10px;
  }

  .flavour {
    margin-top: 2px;
    font-style: italic;
  }

  .stats {
    font-family: "Beleren Bold Small Caps", sans-serif;
    font-size: 2.3em;
    position: absolute;
    top: 919px;
    left: 629px - 47.5px;
    width: 95px;
    text-align: center;
  }

  .collectionBlock {
    letter-spacing: 1.4px;
    color: white;
    font-family: "MPlantin", sans-serif;
    position: absolute;
    left: 37px;
    top: 958px;
  }
  .collectionBlock2 {
    color: white;
    font-family: "MPlantin", sans-serif;
    position: absolute;
    left: 37px;
    top: 977px;
  }

  .brush {
    position: absolute;
    top: -1px;
    margin-left: 8px;
    margin-right: 4px;
  }

  .artist {
    font-family: "Beleren Bold Small Caps", sans-serif;
    letter-spacing: 1px;
    margin-left: 28px;
  }
}