.app {
  height: 100vh;

  .editor {
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    width: calc(100vw / 24 * 21 / 24 * 6);
    background: whitesmoke;
  }

  .collection {}

  .addButton {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: calc(100 / 24 * 18 / 24 * 4vw - 16px);
  }

  .fullWidth {
    margin-top: 8px;
    width: 100%;
  }
}

$max-width: calc(62.5vw - 200px);
$max-height: calc(100vh - 200px);
$max-width-factor: $max-width / 488;
$max-height-factor: $max-height / 680;
$modalSingleCardWidth: calc(#{$max-height-factor} * 488);
$modalDoubleCardWidth: calc(#{$max-width-factor} * 488);

.modalCardViewWrapper {
  width: 0px !important;
  height: 0px !important;
}

.modalCardGroupWrapper {
  display: flex;
  flex-direction: row;
  transform: translateX(-50%);
}

.modalCardGroupWrapperSingle {
  width: $modalSingleCardWidth;

  .modalCardWrapper {
    width: 100%;
  }
}
.modalCardGroupWrapperDouble {
  width: $modalDoubleCardWidth;

  .modalCardWrapper {
    width: 50%;
  }
}
