.app {
  height: 100vh;

  .editor {
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    width: calc(100vw / 24 * 21 / 24 * 6);
    background: whitesmoke;
  }

  .editorMobile {
    width: calc(100vw / 24 * 9);
  }

  .collection {}

  .addButton {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: calc(100 / 24 * 18 / 24 * 4vw - 16px);
  }

  .fullWidth {
    margin-top: 8px;
    width: 100%;
  }
}

.modalCardViewWrapper {
  width: 0px !important;
  height: 0px !important;
}

.modalCardGroupWrapper {
  display: flex;
  flex-direction: row;
  transform: translateX(-50%);
}

.modalCardGroupWrapperSingle {
  .modalCardWrapper {
    width: 100%;
  }
}
.modalCardGroupWrapperDouble {
  .modalCardWrapper {
    width: 50%;
  }
}

.landscapeReminder {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: whitesmoke;
  padding: 4px;
  background: rgba(0,0,0,0.8);
}

.landscapeAddButton {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: calc(100vw / 24 * 9);
  text-align: center;
  color: whitesmoke;
  padding: 4px;
  background: rgba(0,0,0,0.4);
}
