.ant-modal-wrap, .ant-modal-mask {
  width: calc(100vw / 24 * 21 / 24 * 18 + 4px);
  margin-left: calc(100vw / 24 * 3 - 4px);
}

@media only screen and (max-width: 900px) {
  .ant-modal-wrap, .ant-modal-mask {
    width: calc(100vw / 24 * 15);
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .ant-modal-wrap, .ant-modal-mask {
    width: 100vw;
    margin-left: 0;
  }
}

.card-view {
  .ant-modal-header, .ant-modal-close, .ant-modal-footer {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(1,1,1,0);
  }

  .ant-modal, .ant-modal-body, .ant-modal-content {
    padding: 0;
    background: rgba(0, 0, 0, 0) !important;
  }

  .ant-modal-body > * {
    margin-top: -1px;
    margin-left: -9px;
  }
}