.ant-modal-mask  {
  width: calc(100 / 24 * 16vw);
}

.ant-modal-wrap {
  width: calc(100 / 24 * 16vw);
}


.card-view {
  .ant-modal-header, .ant-modal-close, .ant-modal-footer {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(1,1,1,0);
  }

  .ant-modal, .ant-modal-body, .ant-modal-content {
    padding: 0;
    background: rgba(0, 0, 0, 0) !important;
  }

  .ant-modal-body > * {
    margin-top: -1px;
    margin-left: -9px;
  }
}