.collection {
    //padding-left: 14px;
    margin-top: -16px;
}

.swapButton {
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 1px)) translateY(-110%);
}

.cardBox {
    padding: 4px;
}

.edit {
    /*border: crimson solid 2px;*/
    transform: scale(0.9);
}